@import '../../../../css/colors.scss';
@import '../../../../css/animations.scss';

#mentorProfile {
  color: $title;
  
  .content {
    background-color: $baseWhite;
    padding-top: 64px;
    
    .row {
      flex-direction: column;
      
      &#profileCard {
        display: flex;
        flex-direction: row;

        figure {
          width: 240px;
          height: 240px;
          overflow: hidden;
          display: flex;
          justify-content: center;
          border: 5px solid $baseBlue;
          border-radius: 250px;
          margin-bottom: 64px;
        }

        .userInfo {
          margin-left: 45px;
          display: flex;
          flex-direction: column;
          width: 80%;
          color: $title;
          
          h2 {
            font-size: 42px;
          }

          .section {
            display: flex;
            flex-direction: row;
            margin-top: 32px;
            width: 100%;

            .sectionData {
              display: flex;
              flex-direction: column;
              width: 100%;

              span{
                &:first-child {
                  font-size: 13px;
                  font-weight: 700;
                  color: $baseBlue;
                  text-transform: uppercase;
                  margin-bottom: 8px;
                }
              }
            }
          }
        }
      }

    }

    #buttons {
      button {
        border: 0;
        padding: 20px 32px;
        background-color: unset;
        font-weight: 600;
        color: $undertitle;
        cursor: pointer;
        transition: all 0.3s;
        border-bottom: 2px solid $baseWhite;
        margin-right: 5px;
        
        &.isActive {
          color: $baseRed;
          border-bottom: 2px solid $baseRed;

          &.isActive:hover {
            opacity: 0.6;
            color: $baseRed;
            border-bottom: 2px solid $baseRed;
          }
        }

        &:hover {
          color: $baseBlue;
          border-bottom: 2px solid $baseBlue;
        }
      }
    }
  }

  .contentBox {
    padding: 0 32px;
    margin-top: 32px;

    .skillsBox {
      .skillTitle {
        display: flex;
        flex-direction: row;
        align-items: center;

        h3 {
          color: $baseGrey;
          font-size: 22px;
          width: 100%;
        }

        button {
          width: 40px;
          height: 40px;
          color: $baseWhite;
          background-color: $baseRed;
          border: 0;
          border-radius: 100px;
          transition: all 0.3s;

          &:hover {
            background-color: $baseGrey;
          }
        }
      }

      .skillContent {
        background-color:$baseWhite;
        margin-top: 32px;
        box-shadow: 0 0 5px $baseLightGrey;
        padding: 32px  32px 0px 32px;
        margin-bottom: 232px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;

        .skill {
          display: flex;
          flex-direction: row;
          margin-bottom: 32px;
          flex-basis: 20%;

          figure {
            width: 45px;
            height: 45px;
            display: flex;
            overflow: hidden;
            justify-content: center;
            border: 2px solid $baseWhite;
            border-radius: 25px;
            box-shadow: 0 0 5px $baseLightGrey;
            margin-right: 20px;

            button {
              width: 45px;
              height: 45px;
              margin-top: -2px;
              border: 0;
              border-radius: 25px;
              justify-content: center;
              align-items: center;
              position: absolute;
              z-index: inherit;
              transition: all 0.3s;
              background-color: $baseRed;
              border: 3px solid $baseWhite;
              color: $baseWhite;
              cursor: pointer;

              &:hover {
                background-color: $title;
              }

              &.isVisible {
                display: flex;
              }

              &.isInvisible {
                display: none;
              }
            }
          }

          .skillInfo {
            display: flex;
            flex-direction: column;
            justify-content: center;

            span {
              &:first-child {
                font-size: 20px;
                font-weight: 600;
              }

              &:last-child {
                font-size: 14px;
                color: $baseGrey;
                font-weight: 500;
              }
            }
          }
        }

        .addSkill  {
          margin-bottom: 32px;

          #addSkillButton {
            border: 0;
            border-radius: 20px;
            padding: 8px 40px;
            color: $baseWhite;
            font-weight: 600;
            background-color: $baseRed;
            cursor: pointer;
            transition: all 0.3s;

            &:hover {
              background-color: $title;
            }
          }

          #skillForm {
            display: none;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgba(0,0,0,0.6);
            height: 150%;
            width: 100%;
            
            &.isVisible {
              display: flex;
            }
            
            &.isInvisible {
              display: none;
            }

            form {
              position: absolute;
              top: 400px;
              width: 500px;
              padding: 32px;
              box-shadow: 0 0 10px $baseGrey;
              border-radius: 15px;
              background-color: $baseLightGrey;

              header {
                display: flex;
                align-items: center;
                margin-bottom: 16px;

                h3 {
                  width: 100%;
                }

                button {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  border: 0;
                  transition: all 0.2s;
                  background-color: $baseRed;
                  border-radius: 100px;
                  color: $baseWhite;
                  padding: 7px 10px;
                  cursor: pointer;

                  &:hover {
                    background-color: $baseGrey;
                  }
                }
              }

              .skillsSelector {
                display: flex;
                flex-direction: column;
                width: 100%;
      
                .select {
                  position: relative;
                  width: 100%;
                  margin-bottom: 16px;
                  
                  &:after {
                    position: absolute;
                    left: 8px;
                    top: 8px;
                    font-size: 12px;
                    content: attr(data-placeholder);
                    pointer-events: none;
                    opacity: 0.6;
                  }
                  
                  div:after {
                    content: "\25bc";
                    color: #888;
                    padding: 20px 28px;
                    position: absolute;
                    right: 0;
                    top: 0;
                    text-align: center;
                    pointer-events: none;
                  }
                  
                  select {
                    font-size: 16px;
                    padding: 32px 8px 8px 8px;
                    border: 1px solid $baseGrey;
                    border-right: 5px solid $baseGrey;
                    border-radius: 4px;
                    color: $title;
                    width: 100%;
                    background-color: unset;
                    transition: all 0.2s;
                    appearance: none;
        
                    &:focus {
                      border-color: $baseBlue;
                    }
      
                    &::placeholder {
                      font-size: 14px;
                      font-family: 'IBM Plex Sans', sans-serif;
                    }
                  }
                }
      
                .input {
                  position: relative;
                  width: 100%;
                  margin-bottom: 32px;
                  
                  &:after {
                    position: absolute;
                    left: 8px;
                    top: 8px;
                    font-size: 12px;
                    content: attr(data-placeholder);
                    pointer-events: none;
                    opacity: 0.6;
                  }
        
                  input {
                    padding: 32px 8px 8px 8px;
                    border: 1px solid $baseGrey;
                    border-right: 5px solid $baseGrey;
                    border-radius: 4px;
                    color: $title;
                    width: 100%;
                    background-color: unset;
                    transition: all 0.2s;
        
                    &:focus {
                      border-color: $baseBlue;
                    }
      
                    &::placeholder {
                      font-size: 14px;
                      font-family: 'IBM Plex Sans', sans-serif;
                    }
                  }
                }
      
                button {
                  padding: 16px 0;
                  border: 0;
                  border-radius: 100px;
                  font-weight: 600;
                  background-color: $baseBlue;
                  color: $baseWhite;
                  cursor: pointer;
                  transition: all 0.2s;
      
                  &:hover {
                    background-color: $title;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}