@import '../../../css/colors.scss';

#userSignUpFormScreen {
  display: block;
  width: 100%;

  .row {
    padding: 0px 32px;
    margin-right: auto;
    margin-left: auto;
  }

  .header {
    text-align: center;

    #firstRow {
      padding: 32px;
      display: flex;

      .logo {
        width: 80%;
      }

      .closeButton {
        width: 10%;
        text-align: right;

        a {
          font-size: 30px;
          color: $baseRed;
          transition: all 0.3s;

          &:hover {
            color: $baseGrey;
          }
        }
      }
    }

    #secondRow {
      padding: 16px 0;
      margin-bottom: 32px;
      color: $baseWhite;
      background-color: $baseRed;
    }
  }

  #signUpForm {
    display: flex;

    .data {
      width: 80%;

      fieldset {
        padding: 20px 0;
        border: 0;
        
        legend {
          padding: 0 32px;
          font-size: 20px;
          font-weight: 500;
          color: $title;

          &:after {
            content: "";
            display: block;
            width: 50px;
            margin-top: 4px;
            border: 1px solid $baseRed;
          }
        }

        .formRow {
          display: flex;
          margin-bottom: 16px;
          border: 0;

          .input {
            position: relative;
            width: 45%;
            margin: 0 32px;
            
            &:after {
              position: absolute;
              left: 8px;
              top: 8px;
              font-size: 12px;
              content: attr(data-placeholder);
              pointer-events: none;
              opacity: 0.6;
            }
  
            input {
              padding: 32px 8px 8px 8px;
              border: 1px solid $baseGrey;
              border-right: 5px solid $baseGrey;
              border-radius: 4px;
              color: $title;
              width: 100%;
              background-color: unset;
              transition: all 0.2s;
  
              &:focus {
                border-color: $baseRed;
              }

              &::placeholder {
                font-size: 14px;
                font-family: 'IBM Plex Sans', sans-serif;
              }
            }
          }

          .textarea {
            position: relative;
            width: 100%;
            margin: 0 32px;
            
            &:after {
              position: absolute;
              left: 8px;
              top: 8px;
              font-size: 12px;
              content: attr(data-placeholder);
              pointer-events: none;
              opacity: 0.6;
            }

            textarea {
              padding: 32px 8px 8px 8px;
              border: 1px solid $baseGrey;
              border-right: 5px solid $baseGrey;
              border-radius: 4px;
              font-family: 'IBM Plex Sans', sans-serif;
              width: 100%;
              background-color: unset;
              transition: all 0.2s;
              resize: none;
              color: $title;

              &:focus {
                border-color: $baseRed;
              }

              &::placeholder {
                font-family: 'IBM Plex Sans', sans-serif;
              }
            }
          }
        }
      }

      .inputSubmit {
        padding: 0 32px;
        display: block;
        width: 100%;

        button {
          width: 100%;
          border: 0;
          border-radius: 50px;
          margin-bottom: 30px;
          background: $baseRed;
          padding: 20px 0;
          color: $baseWhite;
          font-weight: 600;
          font-size: 20px;
          transition: all 0.3s;
          cursor: pointer;

          span {
            margin-right: 16px;
          }

          &:hover {
            background: $title;
          }
        }
      }
    }

    .avatar {
      width: 20%;

      label {
        margin-bottom: 20px;
        border: 5px solid $baseWhite;
        background-size: cover;
        background-position: 50%;
        cursor: pointer;
        height: 200px;
        width: 200px;
        border-radius: 100px;
        margin: 50px auto 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 0px 5px #ddd;

        input {
          display: none;
        }

        img {
          opacity: 0.2;
          width: 30px;
          transition: all 0.3s;
        }

        &:hover img {
          opacity: 0.8;
          width: 30px;
        }

      }
      
      .has-avatar {
        animation: fadeIn 0.5s;
        img {
          display: none;
        }
      }

      span {
        text-align: center;
        margin: 0 auto;
        display: block;
        width: 200px;
        font-size: 12px;
        color: $baseGrey;
      }
    }
  }
}