@import 'colors.scss';

@keyframes fade {
  from {
    opacity: 0;
    transform: scale(2);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOpacity {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

@keyframes fadeOpacityAndScale {
  0% {
    transform: scale(0.9);
    opacity: 0.6;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.9);
    opacity: 0.6;
  }
}

@keyframes fadeBackground {
	0% {
		background-position: 0% 50%;
	}
	50% {
    background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#loadingPage {
  overflow: hidden;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &:before {
    content: "";
    position: absolute;
    width: 100%;
    min-height: 100vh;
    z-index: -1;
    opacity: 0.8;
    background: linear-gradient(-45deg, $baseBlue, $baseRed);
    background-size: 400% 400%;
    animation: fadeBackground 5s linear infinite;
  }

  .loadingMessage {
    animation: fadeOpacity 2s linear infinite;
  }  

  img {
    margin-bottom: 24px;
    animation: fadeOpacityAndScale 2s linear infinite;
    width: 220px;
  }

  .loadingMessage {
    text-transform: uppercase;
    font-size: 20px;
    color: $baseGrey;
    font-weight: 700;
  }
}